html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.card {
    min-height: 120px;
}

.table {
    font-size: 14px;
    white-space: nowrap;
}

.table th {
    font-size: 16px;
}

#schedule tr {
    line-height: 10px;
    min-height: 14px;
    height: 14px;
    vertical-align: baseline;
}

#docklot tr {
    line-height: 6px;
    min-height: 14px;
    height: 14px;
    vertical-align: baseline;
}

#alert {
    width: 700px;
}

#close {
    width: 2px;
    padding-left: 5px;
}

#close:hover {
    cursor: pointer;
}
