html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.card {
    min-height: 120px;
}

.table {
    font-size: 16px;
    white-space: nowrap;
}

.titleFixed {
    background-color: #fff;
}