@model Traffic_ASP_MVC.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedule</h4>
<hr />
<div class="container">
    <form asp-action="Edit">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="scheduleDate" class="control-label">Date</label>
                    <input type="text" asp-for="scheduleDate" readonly class="form-control datepicker" />
                    <span asp-validation-for="scheduleDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="timeSlot" class="control-label">Time Slot</label>
                    <input asp-for="timeSlot" class="form-control" />
                    <span asp-validation-for="timeSlot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="status" class="control-label">Status</label>
                    <input asp-for="status" class="form-control" />
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="type" class="control-label">Type</label>
                    <input asp-for="type" class="form-control" />
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="numberCartons" class="control-label"># Cartons</label>
                    <input asp-for="numberCartons" class="form-control" />
                    <span asp-validation-for="numberCartons" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="loadCube" class="control-label">Cube</label>
                    <input asp-for="loadCube" class="form-control" />
                    <span asp-validation-for="loadCube" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="mbolNbr" class="control-label">MBOL #</label>
                    <input asp-for="mbolNbr" class="form-control" />
                    <span asp-validation-for="mbolNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="loadNbr" class="control-label">Load #</label>
                    <input asp-for="loadNbr" class="form-control" />
                    <span asp-validation-for="loadNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="loaderName" class="control-label">Loader Name</label>
                    <input asp-for="loaderName" class="form-control" />
                    <span asp-validation-for="loaderName" class="text-danger"></span>
                </div>
            </div>
        </div>    
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="carrierName" class="control-label">Carrier Name</label>
                    <input asp-for="carrierName" class="form-control" />
                    <span asp-validation-for="carrierName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="customerName" class="control-label">Customer Name</label>
                    <input asp-for="customerName" class="form-control" />
                    <span asp-validation-for="customerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="customerCity" class="control-label">City</label>
                    <input asp-for="customerCity" class="form-control" />
                    <span asp-validation-for="customerCity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="customerState" class="control-label">State</label>
                    <input asp-for="customerState" class="form-control" />
                    <span asp-validation-for="customerState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="loadComments" class="control-label">Comments</label>
                    <input asp-for="loadComments" class="form-control" />
                    <span asp-validation-for="loadComments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="loadScheduler" class="control-label">Scheduler</label>
                    <input asp-for="loadScheduler" class="form-control" />
                    <span asp-validation-for="loadScheduler" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group mt-3 d-flex flex-column justify-content-end">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <br />
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>            
        </div>
    </form>
</div>
      

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
