@model Traffic_ASP_MVC.Models.DockLot

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DockLot</h4>
<hr />
<div class="container">
    <form asp-action="Create">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="location" class="control-label">Location</label>
                    <input asp-for="location" class="form-control" />
                    <span asp-validation-for="location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="carrierName" class="control-label">Carrier Name</label>
                    <input asp-for="carrierName" class="form-control" />
                    <span asp-validation-for="carrierName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="status" class="control-label">Status</label>
                    <input asp-for="status" class="form-control" />
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="trailerNbr" class="control-label">Trailer #</label>
                    <input asp-for="trailerNbr" class="form-control" />
                    <span asp-validation-for="trailerNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="dimension" class="control-label">Dimension</label>
                    <input asp-for="dimension" class="form-control" />
                    <span asp-validation-for="dimension" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="comments" class="control-label">Comments</label>
                    <input asp-for="comments" class="form-control" />
                    <span asp-validation-for="comments" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="loadNbr" class="control-label">Load #</label>
                    <input asp-for="loadNbr" class="form-control" />
                    <span asp-validation-for="loadNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="mbolNbr" class="control-label">MBOL #</label>
                    <input asp-for="mbolNbr" class="form-control" />
                    <span asp-validation-for="mbolNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="timeStamp" class="control-label">TimeStamp</label>
                    <input asp-for="timeStamp" class="form-control"/>
                    <span asp-validation-for="timeStamp" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group mt-3 d-flex flex-column justify-content-end">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <br />
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>            
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
