@model Traffic_ASP_MVC.Models.DockLot

@{
    ViewData["Title"] = "Live To Dock";
}

<h1>Live To Dock</h1>

<h4>DockLot</h4>
<hr />
<div class="container">
    <form asp-action="Create">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label">Location</label>
                    @Html.DropDownListFor(n => n.Location, ViewBag.Doors as SelectList, "Select Location" , new {@class="form-control"})
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarrierName" class="control-label">Carrier Name</label>
                    @Html.DropDownListFor(n => n.CarrierName, ViewBag.Carrier as SelectList, "Select Carrier" , new {@class="form-control"})
                    <span asp-validation-for="CarrierName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="">Select Status</option>
                        <option value="Empty">Empty</option>
                        <option value="Full/InComp">Full/InComp</option>
                        <option value="Full/InFinished">Full/InFinished</option>
                        <option value="Full/InMixed">Full/InMixed</option>
                        <option value="Full/OutComp">Full/OutComp</option>
                        <option value="Full/OutFinished">Full/OutFinished</option>
                        <option value="Full/OutMixed">Full/OutMixed</option>
                        <option value="Reserved">Reserved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Shuttle">Shuttle</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="TrailerNbr" class="control-label">Trailer #</label>
                    <input asp-for="TrailerNbr" class="form-control" />
                    <span asp-validation-for="TrailerNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dimension" class="control-label">Status</label>
                    <select asp-for="Dimension" class="form-control">
                        <option value="">Select Dimension</option>
                        <option value="20 LC">20 LC</option>
                        <option value="40 HC">40 HC</option>
                        <option value="40 ST">40 ST</option>
                        <option value="45 FT">45 FT</option>
                        <option value="48 FT">48 FT</option>
                        <option value="53 FT">53 FT</option>
                        <option value="PUP">PUP</option>
                    </select>
                    <span asp-validation-for="Dimension" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label">Comments</label>
                    <input asp-for="Comments" class="form-control" disabled/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="LoadNbr" class="control-label">Load #</label>
                    <input asp-for="LoadNbr" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="MbolNbr" class="control-label">MBOL #</label>
                    <input asp-for="MbolNbr" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="TimeStamp" class="control-label">Date</label>
                    <input type="text" asp-for="TimeStamp" readonly class="form-control" value="@DateTime.Now" />
                    <span asp-validation-for="TimeStamp" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group mt-3 d-flex flex-column justify-content-end">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <br />
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>            
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
