<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traffic_ASP_MVC</title>
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traffic_ASP_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="mb-5">
        <br />
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Traffic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Schedule
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Index">Schedule</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Create">Schedule New</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dock / Lot
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Docklots" asp-action="Index">Dock Lot</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Docklots" asp-action="Create">Add Trailer</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Locations
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Doors" asp-action="Index">Manage Locations</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Doors" asp-action="Create">Add Location</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Carriers
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Carriers" asp-action="Index">Manage Carriers</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Carriers" asp-action="Create">Add Carrier</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Coordinators
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Coordinators" asp-action="Index">Manage Coordinators</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Coordinators" asp-action="Create">Add Coordinator</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Customers
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Index">Manage Customers</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Create">Add Customer</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Destinations
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cities" asp-action="Index">Manage Cities</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cities" asp-action="Create">Add City</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="States" asp-action="Index">Manage States</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="States" asp-action="Create">Add State</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-1">
        <main role="main" class="overflow-auto" style="height: 85vh; width: 100%;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-light bg-primary text-center">
        
            &copy; 2022 - Traffic | MGA Entertainment<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
    </footer>
    
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-1.13.2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
    $(document).ready( function () {
        $('#schedule').DataTable();
    } );
    $(document).ready(function() {
        $('#docklot').DataTable();
    });
    $(document).ready(function() {
        $('#carrier').DataTable();
    });
    $(document).ready(function() {
        $('#coordinator').DataTable();
    });
    $(document).ready(function() {
        $('#customer').DataTable();
    });
    $(document).ready(function() {
        $('#state').DataTable();
    });
    $(document).ready(function() {
        $('#city').DataTable();
    });
    $(document).ready(function() {
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange: "-90:+00"
        });
    });
    $(document).ready(function() {
        $('#loadStatusSel').change(function() {
            var strType = $('#loadStatusSel').val();
            $('.form-control-sm').val(strType);
            $('.form-control-sm').focus();
        });
    });
    $(document).ready(function() {
        $('#loadTypeSel').change(function() {
            var strType = $('#loadTypeSel').val();
            $('.form-control-sm').val(strType);
            $('.form-control-sm').focus();
        });
    });
    $(document).ready(function() {
        $('#trailerStatus').change(function() {
            var strType = $('#trailerStatus').val();
            $('.form-control-sm').val(strType);
            $('.form-control-sm').focus();
        });
    });
    $(document).ready(function() {
        $('#trailerSize').change(function() {
            var strType = $('#trailerSize').val();
            $('.form-control-sm').val(strType);
            $('.form-control-sm').focus();
        });
    });
    $(document).ready(function() {
        $('#scheduleDate').change(function() {
            var strType = $('#scheduleDate').val();
            $('.form-control-sm').val(strType);
            $('.form-control-sm').focus();
        });
    });
    $(document).ready(function() {
        $('#start').click(function() {
            var d = new Date();
            var output = d.toLocaleDateString('sv', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            })
            $('#startTime').val(output);
            console.log(output);
        });
    });
    $(document).ready(function() {
        $('#finish').click(function() {
            var d = new Date();
            var output = d.toLocaleDateString('sv', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            })
            $('#finishTime').val(output);
            console.log(output);
        });
    });
    $(document).ready(function() {
        $('#close').on('click', function() {
            $(this).closest('.alert').hide();
        });
    });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
