<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traffic_ASP_MVC</title>
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fc-4.1.0/fh-3.2.4/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Traffic_ASP_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="mb-5">
        <br />
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Traffic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Schedule
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Index">Schedule</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Create">Schedule New</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dock / Lot
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Docklots" asp-action="Index">Dock Lot</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Docklots" asp-action="Create">Add Trailer</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Locations
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Doors" asp-action="Index">Manage Locations</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Doors" asp-action="Create">Add Location</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Carriers
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Carriers" asp-action="Index">Manage Carriers</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Carriers" asp-action="Create">Add Carrier</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Coordinators
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Coordinators" asp-action="Index">Manage Coordinators</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Coordinators" asp-action="Create">Add Coordinator</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Customers
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Index">Manage Customers</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Create">Add Customer</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Destinations
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cities" asp-action="Index">Manage Cities</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cities" asp-action="Create">Add City</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="States" asp-action="Index">Manage States</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="States" asp-action="Create">Add State</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-1">
        <main role="main" class="overflow-auto" style="height: 85vh; width: 100%;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-light bg-primary text-center">
        
            &copy; 2022 - Traffic | MGA Entertainment<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
    </footer>
    
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fc-4.1.0/fh-3.2.4/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-1.13.2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        // Datatable setup for Schedule page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#schedule').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            language: {
                searchBuilder: {
                    button: 'Filter',
                }
            },
            buttons: [
                'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print', 'searchBuilder'
            ]
        } );
    } );
    // Datatable setup for DockLot page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#docklot').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            language: {
                searchBuilder: {
                    button: 'Filter',
                }
            },
            buttons: [
                'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print', 'searchBuilder'
            ]
        } );
    } );
    // Datatable setup for Carrier page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#carrier').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                'pageLength'
            ]
        } );
    } );
    // Datatable setup for Coordinator page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#coordinator').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                'pageLength'
            ]
        } );
    } );
    // Datatable setup for Customer page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#customer').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                'pageLength'
            ]
        } );
    } );
    // Datatable setup for State page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#state').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                'pageLength'
            ]
        } );
    } );
    // Datatable setup for City page to show filter, export, print, line amount
    $(document).ready(function() {
        $('#city').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                'pageLength'
            ]
        } );
    } );
    $(document).ready(function() {
        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "mm/dd/yy",
            yearRange: "-90:+00"
        });
    });
    $(document).ready(function() {
        $('#loadStatusSel').change(function() {
            var strType = $('#loadStatusSel').val();
            $('input[type="Search"]').val(strType);
            $('input[type="Search"]').focus();
        });
    });
    $(document).ready(function() {
        $('#loadTypeSel').change(function() {
            var strType = $('#loadTypeSel').val();
            $('input[type="Search"]').val(strType);
            $('input[type="Search"]').focus();
        });
    });
    $(document).ready(function() {
        $('#trailerStatus').change(function() {
            var strType = $('#trailerStatus').val();
            $('input[type="Search"]').val(strType);
            $('input[type="Search"]').focus();
        });
    });
    $(document).ready(function() {
        $('#trailerSize').change(function() {
            var strType = $('#trailerSize').val();
            $('input[type="Search"]').val(strType);
            $('input[type="Search"]').focus();
        });
    });
    $(document).ready(function() {
        $('#scheduleDate').change(function() {
            var strType = $('#scheduleDate').val();
            $('input[type="Search"]').val(strType);
            $('input[type="Search"]').focus();
        });
    });
    $(document).ready(function() {
        $('#loadStart').click(function() {
            var d = new Date();
            var output = d.toLocaleDateString('sv', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            })
            $('#loadStartTime').val(output);
        });
    });
    $(document).ready(function() {
        $('#loadFinish').click(function() {
            var d = new Date();
            var output = d.toLocaleDateString('sv', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            })
            $('#loadFinishTime').val(output);
            var status = 'Loaded';
            $('#loadStatus').val(status);
        });
    });
    $(document).ready(function() {
        $('#stageStart').click(function() {
            var d = new Date();
            var output = d.toLocaleDateString('sv', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            })
            $('#stageStartTime').val(output);
            var status = 'Staged';
            $('#loadStatus').val(status);
        });
    });
    $(document).ready(function() {
        $('#stageFinish').click(function() {
            var d = new Date();
            var output = d.toLocaleDateString('sv', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'
            })
            $('#stageFinishTime').val(output);
        });
    });
    $(document).ready(function() {
        $('#setSpot').click(function() {
            var spotTrailerNbr = $('#spotTrailer').val();
            $('#trailerNbr').val(spotTrailerNbr);
        });
    });
    $(document).ready(function() {
        $('#close').on('click', function() {
            $(this).closest('.alert').hide();
        });
    });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
