@{
    ViewData["Title"] = "Traffic | Hesperia";
}

<div class="text-center">
    <h1 class="display-4">Hesperia Traffic</h1>
</div>

<div class="container text-center mt-4">
  <div class="row">
    <div class="col">
        <div class="card shadow" style="width: 18rem;">
            <div class="card-body" role="button">
            <h3 class="card-title"><a class="nav-link text-dark" <a asp-area="" asp-controller="Schedules" asp-action="Create">Schedule New</a></h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow" style="width: 18rem;">
            <div class="card-body" role="button">
            <h3 class="card-title"><a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Index">Schedule</a></h3>
            </div>
        </div>
    </div>
    <div class="col">
         <div class="card shadow" style="width: 18rem;">
            <div class="card-body" role="button">
            <h3 class="card-title"><a class="nav-link text-dark" asp-area="" asp-controller="DockLots" asp-action="Index">Dock / Lot</a></h3>
            </div>
        </div>
    </div>
    <div class="col">
         <div class="card shadow" style="width: 18rem;">
            <div class="card-body" role="button">
            <h3 class="card-title"><a class="nav-link text-dark" asp-area="" asp-controller="DockLots" asp-action="Create">Enter New Trailer</a></h3>
            </div>
        </div>
    </div>
  </div>
</div>
